html{
  height: 100%;
}
body{
  display: flex;
  align-items: center;
  margin: 10px;
  width: calc(100% - 2 * 10px - 2 * 5%);
  height: calc(100% - 2 * 10px - 2 * 5%);
  padding: clamp(5px, 5%, 20px);
  justify-content: center;
}
#container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  width: calc(90% + 2px);
  height: calc(90% + 2px);
  min-width: 300px;
  min-height: 300px;
}
#container > canvas{
  background: #686868;
  border-radius: 10px;
  border: 2px solid #686868;
  cursor: pointer;
}
